node_modules
orig
.DS_STORE
datasets
notes.txt
coverage
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pyc
*.pdf
.DS_Store
webpackDist
__pycache__
*.fdb_latexmk
*.fls